* {
  font-size: 32;
}

body {
  background-color: #101629;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#tec-park {
  color: #fff;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
}
