body{
  background-color: #4873f7;
  ;
}

#indexbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Align items with space in between */
  min-height: 100vh;
  min-width: 40vh;
  background-color: #101629;
}

.indexdiv {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  height: 100vh; /* Fill the available height */
}

h1 {
  font-size: 4rem;
}

.btn {
  background-color: #003ef9;
  color: white;
  font-weight: bold;
  border: 0 ;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-top: 1rem; /* Add space between buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20.9375rem;
  height: 3.4375rem;
  align-items: flex-end; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn1{ /* select spot button */
  background-color: #859bdf;
  color: white;
  font-weight: bold;
  border: 0 ;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-top: 45.4375rem; /* Add space between buttons */
  margin-left: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20.9375rem;
  height: 3.4375rem;
  align-items: flex-end; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.camera {
  position: absolute;
  width: 384px;
  height: 812px;
  left: -9px;
  top: 0px;
  background: url(image.jpg);
}

.bodysuccess{
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 170%;
text-align: center;
margin: 30rem;
color: #E2E9FD;
}

.heading2{
text-align: center;
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
color: #FFFFFF;
}

.vector2{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
left: 26.15%;
right: 10.15%;
top: 1%;
bottom: 25%;
margin: 3rem;
}